<?php
$local = 'mysql://user:password@127.0.0.1/purdue_wp';
putenv('REMOTE_MYSQL_DATABASE_URL='.$remote);
putenv('LOCAL_MYSQL_DATABASE_URL='.$local);
putenv('MYSQL_DATABASE_URL='.$local);
// Wordpress Environment
// development or production
$env = 'development';
putenv('WP_ENV='.$env);
$_SERVER['WP_ENV'] = $env;
// Put your local dev server's URL here
$localhost = $_SERVER['SERVER_NAME'];
putenv('WP_URL=http://'.$localhost);